<style>
  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: black;
  }

  /* Control the right side */
  .right {
    right: 0;
    /* background-color: mediumseagreen; */
  }

  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .centered-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pass-eye {
    cursor: pointer;
  }
</style>

<div class="container">
  <div class="split left">
    <div class="centered" style="text-align: center;">
      <img
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        alt="angular-logo" />
      <p style="color: white;">Good morning!</p>
    </div>

    <div class="split right">
      <div class="centered">
        <div class="centered-right">
          <h2>Login</h2>
          <hr />
          <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: 250px;">
            <div class="form-group">
              <label for="email" class="form-label" style="align-items: left;">Email</label>
              <div class="input-group mb-3">
                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div class="input-group-prepend">
                  <span class="input-group-text" style="display: block;">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="form-label" style="align-items: left;">Password</label>
              <div class="input-group mb-3">
                <input id="password" type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div class="input-group-prepend" (click)="handleShowHidePassword()">
                  <span id="eyeSlashIcon" class="input-group-text" style="cursor: pointer; display: block;">
                    <i class="fa fa-eye-slash"></i>
                  </span>
                  <span id="eyeIcon" class="input-group-text" style="cursor: pointer; display: none;">
                    <i class="fa fa-eye"></i>
                  </span>
                </div>
              </div>
            </div>
            <div className="form-group">
              <button [disabled]="loading" class="btn btn-primary" type="submit">
                <span *ngIf="loading" class="mr-2"><i class="fa fa-thin fa-spinner"></i></span>
                Login
              </button>
              <a routerLink="/register" class="btn btn-link" style="margin-left: 10px">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // $(function() {
  // 'use strict';

  //   $('.form-control').on('input', function() {
  //     var $field = $(this).closest('.form-group');
  //     if (this.value) {
  //       $field.addClass('field--not-empty');
  //     } else {
  //       $field.removeClass('field--not-empty');
  //     }
  //   });

  // });
</script>

<router-outlet></router-outlet>